body {
	font-family: 'Lato', sans-serif;
}

.top {
	position: absolute;
	background: 'red';
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 0;
}

.top ul li {
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
}

.baner p {
	font-size: 21px;
}

h1 {
	font-size: 42px;
}

.boxes p {
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	margin-top: 32px;
}

.baner {
	background: url('img/baner.jpg') 0 0;
	padding: 400px 0;
	color: #FFF;
}

.baner .btn {
	margin-top: 30px;
	padding: 15px 32px;
}

.intro {
	padding: 110px 0;
}

.strip {
	background: #F4F5F6;
	padding: 70px 0;
}

.strip p {
	margin-bottom: 20px;
}

footer {
	background: #3B3C41;
	color: #EDF1FA;
	padding: 60px 0;
}
.button_type1{
	width: 100%;
	color:rgb(0, 2, 2);
	background-color: aquamarine;
	border:medium;
	border-color: azure;
	font-size:large;
}
.button_type2{
	width: 100%;
	color:rgb(0, 2, 2);
	background-color:cyan;
	font-size:large;
	border:thin;
}
.Player_Contnet
{
	width: auto;
	height: auto;
	align-content: center;
}
.PlayersContainer
{

	width: auto;
	height: auto;
	padding-bottom: 50px;
	text-align: center;
}
.Player_Control
{
	padding-top: 25px;
	width: auto;
	align-content: center;
}
.Player_Score{
	Pading-top:10px;
	font-size: x-large;
}
.button_type3{
	font-size: x-large;
	background: #0D5322;
	color:white;
	margin-left: auto;
	max-resolution: auto;
	border:thin;
	
}
table
{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	
}
.Add_Player_Content
{
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	text-align: center;
}
.button_cell
{
	width: 25%;
	padding: 1%;
}
.button_cell_actions
{
	width: 50%;
	padding: 1%;
}
.button_type4
{
	width: 100%;
	color:rgb(0, 2, 2);
	background-color:cadetblue;
	border: thin;
	font-size:large;
}
.Actions_table
{
	width: 25%;
}
.Player_Name
{
	padding-top:25px; 
}